:root {
  // Main colors
  --main-bg-cl: #ffffff;
  --btn-cl: #2196f3;
  --btn-hover-cl: #52acf7;
  --secondary-btn-cl: #f5f4fa;
  --secondary-btn-hover-cl: #b5addd;
  --main-text-color: #000000;
  // Util colors
  --modal-overlay: rgba(43, 43, 43, 0.1);
}
