.header {
  padding-top: 50px;
  height: 500px;
  background-image: url("../../assets/images/mainBg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  text-align: center;
  color: purple;
}
